#home{
    height: 100vh;
    background: url('../assets/home-background.svg') no-repeat;
    background-position: 35vw 20vh;
}
main {
    height: 100vh;
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
main h1{
    padding: 5px;
    text-align: center;
    font-size: 54px;
    color: var(--primary) ;
}
main p{
    padding: 5px;
    text-align: center;
    color: var(--primary);
}
main button {
    outline: none; 
    padding: 10px;
    font-size: 14pt;
    background: none;
    color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 4px;
}
main button:hover {
    color: white;
    transition: linear 300ms;
    background-color: var(--secondary);
}
@media (max-width: 900px) {
    #home {
        background: 70vw;
    }
    header {
        margin: 0;
    }
    .container {
        align-items: center;
        text-align: center;
    }
}
