*{
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
:root {
    --primary: #1e1e1e;
    --header: #1212129d;
    --secondary: #3dd180;
    --text: white;
}
html {
    font-family: "roboto";
}
body{
    background-color: var(--primary);
}
.container {
    height: 100vh;
    margin: 40px;
}
header.header-top{
    padding: 40px 60px;
    
    background-color: var(--header);
    position: sticky;
    top: 0px;
    
    box-sizing: border-box;
    height: 100px;
    width:  100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header.header-top a {
    padding: 5px;
    font-weight: bold;
    color: var(--text);
    text-decoration: none;
}
header.header-top i {
    color: var(--text);
    padding: 10px;
}