<div class="hide" id="modal">
    <p id="close-bar"><i class="fa fa-window-close" aria-hidden="true"></i>Fechar</p>
    <div class="content">
        <header>
            <h1>pontos de coleta</h1>
        </header>
        <form action="/pontos-de-coleta">
            <label for="search">Cidade</label>
            <div class="search">
                <input type="text" name="search" placeholder="Pesquise sua cidade">
                    <button type="submit" id="btn">Buscar</button>
            </div>
        </form>
    </div>
</div>